
* {
  margin: 0 0;
}

html {
  font-size: 16px;
  color: #47737e;
  background-color: #dddddd;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a7/Eug%C3%A8ne_Delacroix_-_La_libert%C3%A9_guidant_le_peuple.jpg")

}

:root {
  --text-1: 0.5rem;
  --text-2: 1rem;
  --text-3: 1.5rem;
  --text-4: 2rem;
  --text-5: 2.5rem;
  --text-6: 3rem;
}

h1 {
  font-size: var(--text-6);
}

h2 {
  font-size: var(--text-5);
}

h3 {
  font-size: var(--text-3);
  margin-bottom: var(--text-2);
}

hr {
  color: #c8d4da;
}

p {
  font-size: var(--text-2);
  margin-bottom: var(--text-1);
}

body{
  width: 70rem;
  margin: var(--text-3) auto;
  background: #c8d4da;
  box-shadow: 5px 5px 10px #242424;
}

.header {
  font-family: sans-serif;
  background-color: #c8d4da;
  padding: var(--text-1) var(--text-1);
  text-align: left;
  border-bottom: 2px solid #f1f1f1;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.item {
  background-color: #e5e7e9;
  margin: var(--text-2) var(--text-2);
  height: 35rem;
  width: 30rem;
  padding: var(--text-1) var(--text-1);
  border-radius: 5px;
  text-align: justify;
  text-justify: inter-word;
  border: 0.25px solid #c8d4da;
}

.footer {
  display: flex;
  font-family: sans-serif;
  justify-content: space-around;
  height: 8rem;
  margin:  0 0;
  text-align:center;
  padding: var(--text-2) var(--text-2);
  background-color: #c8d4da;
}